@media screen and (max-width: 430px) {
    .container h3{
        margin-left: 2.5rem;
    }

    .transactionlist{
        margin-left: 3.3rem;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1200px) {

    .container h3{
        margin-left: 1rem;
    }

    .transactionlist{
        margin-left: 2rem;
        margin-top: 1rem;
    }

}

.container{
    width: 100%;
}

.container h3{
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(202, 199, 199);
    margin-bottom: 1rem;
}

